<div class="row justify-content-center">
    <div class="col-10 mt-5">
        <h1 class="fs-1 fw-light text-center mb-5 purpleText">MENU</h1>
    </div>
    <div class="col-10 mt-5">
        <button mat-flat-button color="primary" class="w-100" routerLink="alumnos">ALUMNOS</button>
    </div>
    <div class="col-10 mt-5">
        <button mat-flat-button color="primary" class="w-100" routerLink="cursos">CURSOS</button>
    </div>
    <div class="col-10 mt-5">
        <button mat-flat-button color="primary" class="w-100" routerLink="clases">CLASES</button>
    </div>
</div>