<div class="row w-100 justify-content-center">
    <div class="col-12 text-center">
        <h1 class="fs-1 fw-light my-5 purpleText">AGREGAR ALUMNO</h1>
    </div>
    <form [formGroup]="formularioAlumno" (ngSubmit)="agregarAlumno()" class="col-4">
        <div class="row">
            <mat-form-field appearance="outline" class="col-12">
                <mat-label>Legajo</mat-label>
                <input type="number" matInput placeholder="Legajo del alumno..." formControlName="legajo">
            </mat-form-field>
            <mat-form-field appearance="outline" class="col-12">
                <mat-label>Nombre</mat-label>
                <input type="text" matInput placeholder="Nombre del alumno..." formControlName="nombre">
            </mat-form-field>
            <mat-form-field appearance="outline" class="col-12">
                <mat-label>Apellido</mat-label>
                <input type="text" matInput placeholder="Apellido del alumno..." formControlName="apellido">
            </mat-form-field>
            <mat-form-field appearance="outline" class="col-12">
                <mat-label>Edad</mat-label>
                <input type="number" matInput placeholder="Edad del alumno..." formControlName="edad">
            </mat-form-field>
            <mat-form-field appearance="outline" class="col-12">
                <mat-label>Email</mat-label>
                <input type="email" matInput placeholder="Email del alumno..." formControlName="email">
            </mat-form-field>
            <div class="row justify-content-center mt-3 m-0 p-0">
                <div class="col-12 text-center">
                    <button [disabled]="formularioAlumno.invalid" color="primary" mat-flat-button class="w-100" type="submit">GUARDAR</button>
                </div>
            </div>
        </div>
    </form>
</div>